# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui

difTemp = pd.Series(data=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02])
difTemp

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
difTemp = pd.Series(data=[-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02], index=[1900,1920,1940,1960,1980,2000,2020])
difTemp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

difTempDic =pd.Series(dic_temperaturas)
difTempDic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

dataframeArr = pd.DataFrame(arr)
dataframeArr

             0           1           2
0    92.775869  116.768051  104.815498
1   111.326335  104.376289   85.317119
2   101.002663   89.127448  113.415063
3   109.490609  104.362845  125.053403
4    90.796576  100.628203   91.526442
5   110.161919   92.758709   98.372681
6   119.996513  115.075703   90.170193
7    99.140729   95.931422   94.946733
8   101.352476   84.251805   99.149369
9   120.071903   91.291391  107.504066
10  107.345399   99.468483   78.701338
11   94.769048  109.046898  104.796194
12  118.276750   95.961698   91.181839
13   98.400464   99.511662   96.142433
14  109.019400   77.605108   94.331289
15   97.766029   87.392242  103.700561
16   93.345000   83.768462   92.191747
17  114.983141  107.627511  108.540103
18  106.281115   96.294278   95.860573
19  102.488450  119.817177   97.382004

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [23]:
#seu código aqui

inteiros = np.arange(1, 21)
nomeColunas = np.array(['x1','x2','x3'])

dataframeArr.columns = nomeColunas
dataframeArr.index = inteiros

dataframeArr

            x1          x2          x3
1    92.775869  116.768051  104.815498
2   111.326335  104.376289   85.317119
3   101.002663   89.127448  113.415063
4   109.490609  104.362845  125.053403
5    90.796576  100.628203   91.526442
6   110.161919   92.758709   98.372681
7   119.996513  115.075703   90.170193
8    99.140729   95.931422   94.946733
9   101.352476   84.251805   99.149369
10  120.071903   91.291391  107.504066
11  107.345399   99.468483   78.701338
12   94.769048  109.046898  104.796194
13  118.276750   95.961698   91.181839
14   98.400464   99.511662   96.142433
15  109.019400   77.605108   94.331289
16   97.766029   87.392242  103.700561
17   93.345000   83.768462   92.191747
18  114.983141  107.627511  108.540103
19  106.281115   96.294278   95.860573
20  102.488450  119.817177   97.382004

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [24]:
# seu código aqui

dataframeArr['media'] = (dataframeArr['x1']+dataframeArr['x2']+dataframeArr['x3'])/3
dataframeArr

            x1          x2          x3       media
1    92.775869  116.768051  104.815498  104.786473
2   111.326335  104.376289   85.317119  100.339914
3   101.002663   89.127448  113.415063  101.181725
4   109.490609  104.362845  125.053403  112.968953
5    90.796576  100.628203   91.526442   94.317074
6   110.161919   92.758709   98.372681  100.431103
7   119.996513  115.075703   90.170193  108.414136
8    99.140729   95.931422   94.946733   96.672961
9   101.352476   84.251805   99.149369   94.917883
10  120.071903   91.291391  107.504066  106.289120
11  107.345399   99.468483   78.701338   95.171740
12   94.769048  109.046898  104.796194  102.870713
13  118.276750   95.961698   91.181839  101.806763
14   98.400464   99.511662   96.142433   98.018186
15  109.019400   77.605108   94.331289   93.651932
16   97.766029   87.392242  103.700561   96.286277
17   93.345000   83.768462   92.191747   89.768403
18  114.983141  107.627511  108.540103  110.383585
19  106.281115   96.294278   95.860573   99.478655
20  102.488450  119.817177   97.382004  106.562544

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [25]:
# seu código aqui

dataframeArr['log_med'] = np.log(dataframeArr['media'])
dataframeArr

            x1          x2          x3       media   log_med
1    92.775869  116.768051  104.815498  104.786473  4.651925
2   111.326335  104.376289   85.317119  100.339914  4.608564
3   101.002663   89.127448  113.415063  101.181725  4.616918
4   109.490609  104.362845  125.053403  112.968953  4.727113
5    90.796576  100.628203   91.526442   94.317074  4.546662
6   110.161919   92.758709   98.372681  100.431103  4.609472
7   119.996513  115.075703   90.170193  108.414136  4.685958
8    99.140729   95.931422   94.946733   96.672961  4.571334
9   101.352476   84.251805   99.149369   94.917883  4.553012
10  120.071903   91.291391  107.504066  106.289120  4.666163
11  107.345399   99.468483   78.701338   95.171740  4.555683
12   94.769048  109.046898  104.796194  102.870713  4.633473
13  118.276750   95.961698   91.181839  101.806763  4.623077
14   98.400464   99.511662   96.142433   98.018186  4.585153
15  109.019400   77.605108   94.331289   93.651932  4.539585
16   97.766029   87.392242  103.700561   96.286277  4.567326
17   93.345000   83.768462   92.191747   89.768403  4.497233
18  114.983141  107.627511  108.540103  110.383585  4.703961
19  106.281115   96.294278   95.860573   99.478655  4.599943
20  102.488450  119.817177   97.382004  106.562544  4.668732